
body{
     font-family: Verdana, Arial, Times New Roman;
  
}
span {  /*Borders */
    size: 8em;
    text-align: center;
    background: pink;
    position: relative;
    top: -50;
    left: 10;
    border-radius: 3px;
}

root { /*No Idea */
    
    display: block;
    
}

body{ /*Background */
    background: black;
}

#title{ /*Title */
    border-width:4px;
    background: #007291;
    color: black;
    border-radius: 15px;
    text-align: center;
    
}

#wrapper{
    width: 600px;
    margin: auto;
    padding: 15px;
    border-radius: 7px;
    background: #00ff00; /*Inside border color */
}

#winner{ /*Winner button */
    background: #46931f; 
    text-align: center;
    size: 8em;
    border-radius: 5px;
    width: 300px;
    position: relative;
    left: 150;
}

#button{
    color: black;
    background: #a83fa8;
    padding: 3px;
    border-radius: 2 px;
    color: yellow;
}

#symbolStyle{
            font-Size: 6em;
}

img { /*Borders */
    padding: 5px;
    background: silver ;
    margin: 7px;
}
